/* Require External CSS ------------------------------------------------------- */


@import url(/css/gridism.css);
@import url(/css/sidebar.css);

@font-face {
	font-family: LeagueGothic;
	src: local('League Gothic Regular'), url('/fonts/LeagueGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: LeagueGothicCondensed;
	src: local('League Gothic Regular Condensed'), url('/fonts/LeagueGothicCondensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Junction';
	src: local('Junction'), url('/fonts/Junction.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Airbag';
	src: local('Airbag'), url('/fonts/Airbag-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* Default Styles ------------------------------------------------------------- */
* {
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
}
body {
	background: #eee;/*#1c1c1c*/
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

/* Global Styles -------------------------------------------------------------- */
.white {
	color: white !important;
}
.black {
	color: black !important;
}
.hide {
	display: none;
}
.centered {
	text-align: center;
}

/* Home ----------------------------------------------------------------------- */
@media screen and (max-width: 360px) {
	header h1 {
		font-size: 75px !important;
		padding-top: .75em;
	}
	header h2 {
		font-size: 25px !important;
	}
}
header {
	margin-top: -110px;
}
header h1 {
	font-family: LeagueGothic, helvetica;
	font-size: 125px;
	line-height: 1;
	text-align: center;
	color: #A64B00;
	text-transform: uppercase;
	font-weight: 400;
}
header h1 em {
	font-family: LeagueGothic, helvetica;
	font-weight: 400;
	font-size: 45px;
	text-align: center;
	color: #000;
	font-style: normal !important;
	padding: 0 20px;
}
header h2 {
	font-family: LeagueGothic, helvetica;
	font-size: 35px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: -55px;
}
header h2 a {
	color: #8B3F00;
	text-decoration: none;
}
header h2 a:hover {
	color: #652D00;
}

#profile {
	border-radius: 50%;
	top: 20px;
	margin: 20px;
	border: 0px solid #000;

	transition: .6s all ease-in-out;
	-webkit-transition: .6s all ease-in-out;
}
#profile:hover {
	width: 195px;
	height: 195px;
	border: 5px solid #000;
}
#profile-mobile {
	border-radius: 50%;
	top: 20px;
	margin: 20px;
	border: 0px solid #000;
}

/* Icons! */
#icons {
	text-align: center;
}
#icons ul {
	display: inline-block;
	list-style: none;
	margin-right: 50px;
}
#icons li {
	display: inline-block;
	color: #bbb;
	font-size: 55px;
	text-align: center;
	margin: 10px;
	transition: .35s all;
}
#icons li:hover {
	color: #8B3F00;
}
/* Footer */
footer {
	text-align: left;
}
small {
	font-family: Junction, helvetica;
	font-size: 10px;
	color: #bbb;
	margin: 10px;
	padding-bottom: 10px;
}
small a {
	color: #aaa;
	transition: .4s color ease-in-out;
}
small a:hover {
	color: #265865;
}

/* Blog ----------------------------------------------------------------------- */
