<!-- Main NAV -->
<div class="grid head">
	<div class="unit one-third">
		<div align="center">
			<div class="social-button hide-on-mobiles">{% include github-button.html %}</div>
		</div>
	</div>

	<div class="unit one-third center-on-mobiles centered">
		<a href="/"><img src="/img/Profile.jpg" alt="My Face" class="profile centered center-on-mobiles"></a>
	</div>

	<div class="unit one-third">
		<div align="center">
			<div class="social-button hide-on-mobiles">{% include twitter-button.html %}</div>
		</div>
	</div>
</div>
