<div class="profile-desc">
	<div class="grid">
		<div class="unit one-quarter">
			<a href="/"><img class="centered" id="profile" src="/img/profile.jpg" alt="Profile Photo" width="100px" height="100px"></a>
		</div>
		<div class="unit three-quarters">
			<p>
				<strong>Wait... Who is Sam Jenks again?</strong> 
				 Sam Jenks is a blogging human who lives in Ohio. You can follow him on <a href="https://twitter.com/Foxtrot167/" target="_blank" title="Sam's Twitter">Twitter</a> and <a href="http://instagram.com/Foxtrot167/" target="_blank" title="Sam's Instagram">Instagram</a>.
			</p>
		</div>
	</div>
</div>
