<article class="social-row hide-on-mobiles">
<ul>
	<!-- Twitter Button -->
	<li>
		<a href="https://twitter.com/JesseHerrick" class="twitter-follow-button" data-show-count="false">Follow @JesseHerrick</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
	</li>
	<!-- GitHub Button -->
	<li>
		<iframe src="http://ghbtns.com/github-btn.html?user=jesseherrick&amp;type=follow&amp;count=false" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="20"></iframe>
	</li>
	<!-- Flattr Button -->
	<li>
		<script type="text/javascript">
			/* <![CDATA[ */
    			(function() {
        			var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        			s.type = 'text/javascript';
        			s.async = true;
        			s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        			t.parentNode.insertBefore(s, t);
    			})();
			/* ]]> */
		</script>
		<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://www.jessegrant.net"></a>
	</li>
	<!-- Facebook -->
	<li>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  	var js, fjs = d.getElementsByTagName(s)[0];
		  	if (d.getElementById(id)) return;
		  	js = d.createElement(s); js.id = id;
		  	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=133175963495903";
		  	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="fb-like" data-href="http://www.jessegrant.net" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
	</li>
	<!-- +1 Button -->
	<li>
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-size="medium"></div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</li>
</ul>
</article>