---
layout: default
---

<div style="padding-top: 20px;" class="grid">
	<div class="unit one-third center-on-mobiles">
		<h2><em>By</em> Jesse Herrick</h2>
	</div>
	<div class="unit one-third center-on-mobiles">
		<a href="/"><h1 style="text-align: center;">A {{ page.category }} Post</h1></a>
	</div>
	<div class="unit one-third center-on-mobiles">
		<h2><em>On</em> {{ page.date | date_to_string }}</h2>
	</div>
</div>

<article>
	<a href="{{ page.url }}"><h2 class="light-heading">{{ page.title }}</h2></a>
</article>
<article class="dark inset">
	<div class="container hide-on-mobiles">{{ content }}</div>
	<div class="show-on-mobiles hide">{{ content }}</div>
</article>

<!-- DISQUS comments -->
<div id="comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jesseghblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view comments.</noscript>
</div>
